{% extends 'base.html' %}
{% block title %}
    Welcome to My PortFolio
{% endblock %}

{% block content %}
<div class="container-fluid p-0 text-center">

	<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
		<div class="my_auto">
			<h2 class="mb-5">SKILLS</h2>

			<div class="resume-item d-flex flex-column flex-md-row mb-5">
				<div class="resume-content mr-auto">
					<h3 class="mb-0">Server Administrator & Installation</h3>
					<div class="subheading mb-3">Internet Exchange Point of Nigeria, IXPN</div>
					<p>Windows 2012, Unix, WebServers</p>
				</div>
				<div class="resume-date text-md-right">
					<span class="text-primary">March 2009 - August 2022</span>
				</div>			
		</div>


		<div class="resume-item d-flex flex-column flex-md-row mb-5">
			<div class="resume-content mr-auto">
				<h3 class="mb-0">Network Administrator</h3>
				<div class="subheading mb-3">Internet Exchange Point of Nigeria, IXPN</div>
				<p>Configuration of Switches and Routers and Internet Protocols (IPv4 & IPv6)</p>
			</div>
			<div class="resume-date text-md-right">
				<span class="text-primary">March 2009 - August 2022</span>
			</div>
		</div>



		<div class="resume-item d-flex flex-column flex-md-row mb-5">
			<div class="resume-content mr-auto">
				<h3 class="mb-0">Software Engineer</h3>
				<div class="subheading mb-3">Internet Exchange Point of Nigeria, IXPN</div>
				<p>Designs softwares for network monitoring and network bandwidth utilizations</p>
			</div>
			<div class="resume-date text-md-right">
				<span class="text-primary">March 2009 - August 2022</span>
			</div>
		</div>



        <div class="my_auto">
			<h2 class="mb-5">COMPETENCE</h2>

			<div class="resume-item d-flex flex-column flex-md-row mb-5">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">Virtualization</h3>
						<div class="subheading mb-3">Internet Exchange Point of Nigeria, IXPN</div>
						<p>A platform used for cloud services</p>
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary">March 2020 - April 2022</span>
					</div>
			</div>
		</div>


		<div class="resume-item d-flex flex-column flex-md-row mb-5">
				<div class="resume-content mr-auto">
					<h3 class="mb-0">Front-End and Back-End Full stack</h3>
						<div class="subheading mb-3">Taylor Communication, Nigeria</div>
					<p>Python, Javascript, HTML etc.</p>
				</div>
				<div class="resume-date text-md-right">
						<span class="text-primary">September 2021 - Present</span>
				</div>
		</div>
		
	</section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">


        <div class="container-fluid p-0">

            <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
                <div class="my_auto">
                    <h2 class="mb-5">EXPERTISE</h2>
        
                    <div class="resume-item d-flex flex-column flex-md-row mb-5">
                        <div class="resume-content mr-auto">
                            <h3 class="mb-0">Graphic Designs</h3>
                            <div class="subheading mb-3">Taylor Communication and Consulting</div>
                            <p>Design with Adobe effect, Canva and Corel Draw</p>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary">March 2001 - August 2019</span>
                        </div>			
                </div>
        
        
                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Web Developer</h3>
                        <div class="subheading mb-3">Internet Exchange Point of Nigeria, IXPN</div>
                        <p>Capitalize on low hanging fruit to identify a ballpark.</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">Decemebr 2011 - March 2013</span>
                    </div>
                </div>
        
        
        
                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Video Editing</h3>
                        <div class="subheading mb-3">The Redeemed Christian Church of God</div>
                        <p>Editing of videos for livestreamings using vmix and other streaming softwares</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">Decemeber 2019 - Present</span>
                    </div>
                </div>

                <div class="container-fluid p-0">

                    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interest">
                        <div class="my_auto">
                            <h2 class="mb-5">EXTRA CURRICULUM</h2>
                            <p>Apart from a web developer, I enjoy playing games or watching movies</p>
                            <p class="mb-0">When indoors, I follow a number of sci-fi and fantasy movies</p>
                        </div>
                    </section>
                
                
                    <hr class="m-0">
                
                </div>
		
	</section>

	<!-- <hr class="m-0"> -->


	
</div>
{% endblock %}